#title{
    width: 100%;
    
    background-color: black;
    color: #fff;
}
.h1style{
    font-size: 4rem;
    font-weight: bold; 
    padding-bottom: 2rem;
}
.h2style{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.h3style{
    font-size: 1rem; 
    font-weight: normal;
}
.heading{
    margin: 10rem 20rem 0 20rem;
}
.navitem{
    margin-right: 60px;
}
.navbar{
    width: 100%;
    height: 60px; 
    padding-top: 15px;
}
.nabar-brand{
    text-decoration: none;
    font-size: 3rem;
    color: #e50914;
    font-weight: bold;
    margin-left: 10px;
}
.nabar-brand:hover{
    cursor: pointer;
    color: red;
}
.netflix-logo{
    margin-bottom: 14px;
    margin-left: 40px;
    width: 170px;
    height: 55px;
}
.btn-outline-secondary{
    margin-right: 40px;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 5px;
}
.btn-outline-secondary:hover{
    background-color: transparent;
}
.btn-danger{
    background-color: #e50914;
    padding: 5px 15px;
    margin-bottom: 5px;
}

.form-control{
    width: 31rem;
    height: 3.5rem;
    border: none;
    border-radius: 0px;
    margin-bottom: 2rem;
} 
 .btn-primary{
    background-color: #e50914;
    font-size: 1rem;  
    border: none; 
    border-radius: 0px;
    height: 3.5rem;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
} 
 .btn-primary:hover{
    background-color: #f40612;
}


@media screen and (max-width: 500px) {
    .netflix-logo{
        margin-bottom: 28px;
        margin-left: 20px;
        width: 95px;
        height: 37px;
    }
    .btn-outline-secondary{
        padding: 3px;
        font-size: 0.
        7rem;
        margin-right: 15px;
        margin-top: 7px;
    }
    .btn-danger{
        padding: 3px 15px ;
        font-size: 0.9rem;
        margin-right: 20px;
        margin-top: 7px;
        margin-bottom: 25px;
    }
    .dropdown-item{
        font-size: 0.8rem;
        color: #fff;
    }
    .dropdown-menu{
        min-width: 70px;
        background-color: grey;
    }
    ul.dropdown-menu.show{
        top: 50px;
    }
    .heading{
        margin: 5rem 3rem 0 3rem;
    }
    .h1style{
        font-size: 1.75rem;
        font-weight: bold; 
        padding-bottom: 0.5rem;
    }
    .h2style{
        font-size: 1.125rem;
        padding-bottom: 0.5rem;
    }
    .h3style{
        font-size: 1.125rem; 
        font-weight: normal;
    }
    .form-control{
        width: 22rem;
        height: 2.5rem;
        border: none;
        border-radius: 0px;
        position: relative;
        right: 30px;
    } 
    .btn-primary{
        background-color: #e50914;
        font-size: 1rem;  
        border: none; 
        border-radius: 0px;
        height: 2.5rem;
        padding-right: 2rem;
        padding-left: 2rem;
        position: relative;
        left: 8.125rem;
        bottom: 1.250rem;
    } 
     .btn-primary:hover{
        background-color: #f40612;
    }
    

}