body{
    text-align: center;
    font-family: 'Kanit', sans-serif;
}

/* -------------------------title section-------------------------------------- */
#title{
    width: 100%;
    background-image: url("images/front-img.jpg");
    color: #fff;  
}

.h1style{
    font-size: 4rem;
    font-weight: bold; 
    padding-bottom: 2rem;
    margin: 10rem 17rem 0 17rem;
}

.h2style{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.h3style{
    font-size: 1rem; 
    font-weight: normal;
}

/* .heading{
    margin: 10rem 17rem 0 17rem;
} */

.navitem{
    margin-right: 60px;
}

.navbar{
    width: 100%;
    height: 60px; 
    padding-top: 15px;
}

.nabar-brand{
    text-decoration: none;
    font-size: 3rem;
    color: #e50914;
    font-weight: bold;
    margin-left: 10px;
}

.nabar-brand:hover{
    cursor: pointer;
    color: red;
}

.netflix-logo{
    margin-bottom: 14px;
    margin-left: 40px;
    width: 170px;
    height: 55px;
}

.btn-outline-secondary{
    margin-right: 40px;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 5px;
}
.btn-outline-secondary:hover{
    background-color: transparent;
}

.btn-danger{
    background-color: #e50914;
    padding: 5px 15px;
    margin-bottom: 5px;
}

.textbox{
    width: 31rem;
    height: 3.5rem;
    border: none;
    border-radius: 0px;
    margin-bottom: 12rem;
    
} 
.getin{
    color: #fff;
    position: relative;
    right: 4px;
    background-color: #e50914;
    font-size: 1rem;
    border: none;  
    border-radius: 0px;
    height: 3.55rem;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
}
 .getin:hover{
    background-color: #f40612;
}
.sample{
    padding-bottom: 1rem;
}
.row{
    margin-right: 0;
}


/* --------------------------------------------------middle section----------------------------------------------- */
#middle{
    background-color: black;
    color: #fff;
}
.middle-img{
    width: 50%;
    height: 300px;
    position: relative;
    bottom: 5rem;
}
hr{
    margin-bottom: 9rem;
    border-top: 8px solid rgb(155, 146, 146);
    
}

.heading-1{
    text-align: left;
    margin-left: 10rem;
}
.heading-2{
    text-align: left;
}
.box1{
    background-color: rgb(61, 58, 58);
    margin: 0 25% 10px 25%;
    padding: 1px 10px;
    display: flex;
    justify-content: space-between;
}
p{
    display: inline;
    font-size: 1.8rem;
    text-align: left;
    padding-left: 1rem;
    padding-top: 2px;
}
.middle-h3{
    font-size: 1rem;
    font-weight: normal;
    padding-top: 8rem;
}
.fa-plus1{
   margin-left: auto;
}
h4{
    
    padding-right: 10px;
    font-weight: normal;
    font-size: 3rem;
}
.textbox2{
    width: 31rem;
    height: 3.5rem;
    border: none;
    border-radius: 0px;
    margin-bottom: 1rem;
    
}
.getin2{
    color: #fff;
    position: relative;
    right: 4px;
    background-color: #e50914;
    font-size: 1rem;
    border: none;  
    border-radius: 0px;
    height: 3.55rem;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
}
.h1style-mid{
    padding-bottom: 30px; 
    font-size: 3.2rem; 
    font-weight: bold;
}
.hrstyle1{
    margin-bottom: 4rem;
}
a{
    text-decoration: none;
    color: #757575;
}
.bottom-btn{
    margin-left: 0
}
h5{
    font-size: 2rem;
    color:#757575;
    padding-bottom: 1rem;
}
#last-section{
    background-color: black;
}
.last{
    padding-bottom: 10px;
    margin-left: 6.5rem;
}
.list{
    display: inline-block;
    width: 110px;;
}


 @media screen and (max-width: 600px) {

    .netflix-logo{
        margin-bottom: 28px;
        margin-left: 20px;
        width: 95px;
        height: 37px;
    }
    .btn-outline-secondary{
        padding: 3px;
        font-size: 0.7rem;
        margin-right: 15px;
        margin-top: 7px;
    }
    .btn-danger{
        padding: 3px 15px ;
        font-size: 0.9rem;
        margin-right: 20px;
        margin-top: 7px;
        margin-bottom: 25px;
    }
    .dropdown-item{
        font-size: 0.8rem;
        color: #fff;
    }
    .dropdown-menu{
        min-width: 70px;
        background-color: grey;
    }
    ul.dropdown-menu.show{
        top: 50px;
    }
    .h1style{
    
        font-size: 1.75rem;
        font-weight: bold; 
        padding-bottom: 0.5rem;
        margin: 5rem 1rem 0 1rem;
        
    }
    .h2style{
        font-size: 1.125rem;
        padding-bottom: 0.5rem;
    }
    .h3style{
        font-size: 1.125rem; 
        font-weight: normal;
        margin-bottom: 2rem;
        padding-left: 5px;
    }
    .textbox{
        width: 15rem;
        height: 2.5rem;
        border: none;
        border-radius: 0px;
        margin: 0 8px 1rem 1rem;
        
    }
    .getin{
        display: block;
        margin: 0 auto;
        font-size: 1rem; 
        color: #fff; 
        border: none; 
        border-radius: 0px;
        height: 2.5rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }

    
    .sample{
        padding-bottom: 1rem;
    }
    .row{
        margin-right: 0;
    }
    a{
        font-size: 1rem;
    }

    h5{
        font-size: 1rem;
    }
/* -----------------------------------middile------------------------------------ */
    .getin2{
        display: block;
        margin: 0 auto;
        font-size: 1rem; 
        color: #fff; 
        border: none; 
        border-radius: 0px;
        height: 2.5rem;
        padding-right: 1rem;
        padding-left: 1rem;
        border-radius: 5px;
    }
    .textbox{
        margin: 0;
    }
    .textbox2{
        width: 350px;
        height: 2.5rem;
        border: none;
        border-radius: 0px;
        margin:0 0 1rem 0;

    }
    .heading-1{
        margin: 0px;
    }
     .middle-img{
      position: relative;
      top: 10px;
      height: 200px;
    }
     hr{
    margin-bottom: 1rem;
    border-top: 8px solid rgb(155, 146, 146); 
    }
    .heading-1{
        margin: 10px 10% 0 10%;
        text-align: center;
    }
    .heading-2{
        text-align: center;
        margin: 40px 10% 0 10%;
    }
    .h3style-mid{
        font-weight:normal;
        font-size: 1rem;
    }
    .h1style-mid{
        font-size: 1.7rem;
    }
    .hrstyle1{
        margin-bottom: 2rem;
    }
    .box1{
        height: 50px;
        margin: 10px 0;
        font-size: 1rem;
    }
    .pstyle-mid{
        font-size: 1.2rem;
        padding-top: 10px;
    }
    h4{
        font-size: 2.5rem;
    }
    .middle-h3{
        font-size: 1.2rem;
        padding-top: 15px;
    }
    .sample{
        margin: 0 5%;
    }


    /* ---------------------------------------------footer-------------------------------------------- */
   
    .bottom-btn{
        margin: 0;
    }

 }

 

 @media screen and (max-width: 850px) {
    .h1style{
    
        font-size: 2.5rem;
        font-weight: bold; 
        padding-bottom: 0.5rem;
        margin: 5rem 2rem 0 2rem;
      }
      .textbox{
        width: 350px;
        height: 2.7rem;
        border: none;
        border-radius: 0px;
        margin-bottom: 1rem;
      }

      .getin{
        display: block;
        margin: 0 auto;
        font-size: 1rem; 
        color: #fff; 
        border: none; 
        border-radius: 0px;
        height: 2.7rem;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .row{
        margin-right: 0;
    }

 } 
        
    
    
    
        

